body {
  font-family: 'Baloo Bhai', cursive;
  margin: 0;
  background: url('./img/backgroundImage.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: cover; */
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.content-box {
  font-size: 1.5em;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

div {
  background-color: rgba(250, 235, 215, 0.294);
  /* padding: 1em; */

}

li {
  list-style: none;
}

.content-box, header, a, nav {
  text-align: center;
}

.spacer {
  height: 3rem;
  width: 100%;

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem; 
  background: grey;
}

/* .header  {
  background-color: #5789bf;
} */

input {
  text-align: center;
  margin: 5px;
  font-size: 1em;
}

label {
  height: 25px;
  width: 25px;
}

@media screen and (min-width: 550px) {
  header {
    font-size: 1em;
    text-align: left;
    /* background-color: #5789bf */
  }

  nav {
    text-align: left;
  }

  h1 {
    font-size: 1.5em;
    text-align: left;
    /* background-color: #5789bf */
  }

  div {
    text-align: left;
    /* padding: 1em; */
  }
}

